---
layout: page
---
{%- if site.projects.size > 0 -%}
<ul class="posts">
	{%- for project in site.projects -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<div class="post-meta">
			<a class="post-link" href="{{ project.url | relative_url }}">
				<h2 class="post-title">{{ project.title | escape }}</h2>
			</a>
			<div class="post-date"><i class="icon-calendar"></i>{{ project.date | date: date_format }}</div>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ project.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}

